* {
    text-decoration-line: none;
    margin: 0;
    padding: 0;
    
    text-align: center;
    
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    font-weight: bold;
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    z-index: 1;
    
   
}

.logo {
    font-size: 23px;
}

.nav {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0 15px;
}

a {
    color: rgb(167, 159, 159);
    font-size: 17px;
}

a:hover {
    color: rgb(224, 122, 122);
}

/*main*/

#themes {
    background-image: url("../images/portrait-4246954_1920.jpg");
    height: 100vh;
    font-family: sans-serif;
    opacity: 0.9;
    display: flex;
    align-items: center;
   
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 50px;

}
.theme-div{
    width: 60%;
    margin: 0 auto;

}
.linerback{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,#121212,#121212);
    opacity: 0.2;
 
}


.themesp {
    color: rgb(155, 153, 153);
    text-align: center;
    font-size: 20px;
    margin-bottom: 3em;
   
}

#themes a {
    color: aliceblue;
    font-weight: bold;
    border-radius: 35px;
    padding: 20px 35px;
    background-color: #f4623a;
    font-size: 15px;
    display: inline-block;
}

#themes a:hover {
    background: #f4623a8a;
}

hr {
    width: 50px;
    margin: 30px auto;
    border: 1px solid tomato;
}

/*section id="started"*/

#started {
    width: 100%;
    height: 80vh;
    background-color: #f4623a;
    color: white;
    display: flex;
    align-items: center;
    
}

.sectionthemes {
    font-size: 40px;
}

.colorwhite {
    color: white;
}

.borderwhite {
    border: 1px solid white;
}

#started p {
    color: rgb(189, 184, 184);
}

#started a {
    color: rgb(15, 16, 17);
    font-weight: bold;
    border-radius: 35px;
    padding: 20px 32px;
    background-color: rgb(240, 232, 227);
    font-size: 15px;
}

#started a:hover {
    background-color: rgb(194, 189, 189);
}

/*section3*/

.icons {
    display: flex;
    justify-content: center;
}

.icon1 {
    font-size: 70px;
    color: tomato;
}

h4 {
    font-size: 20px;
}

.sturdy {
    text-align: center;
    font-family: sans-serif;
    font-size: 33px;
    font-weight: 200;
}

#section3 {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons div {
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons div p {
    color: grey;
    font-size: 18px;
}

h4 {
    font-family: sans-serif;
    padding: 15px;
}

/* section images */

#galery {
   
    box-shadow: 0px 0px 20px grey;
    
}

.images {
    width: 100%;
    height: 100%;
}
.imagecontainer{
    display: flex;
    flex-wrap: wrap;
    
}

.imagecontainer div {
   max-width: 33.33333%;
   
}

#galery a:hover {
    color: rgba(165, 82, 67);
    opacity: 0.5;
}

/* section4 */

#download{
    height: 70vh;
    background-color: #343a40;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}
#download a{
    color: black;
    font-weight: bold;
    border-radius: 35px;
    padding: 20px 35px;
    background-color: white;
    font-size: 15px;
    display: inline-block;
    transition: 0.3s all;
}
#download h2{
    margin-bottom: 30px;
    font-size: 40px;
}
#download a:hover{
    background-color: white;
    opacity: 0.6;
    transition: 0.3s all;
}
/* section contact */
#contact{
    height: 80vh;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}
#contact h2{
    font-size: 30px;
}
#contact p{
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    color:grey;
    margin-bottom: 30px;
}
#contact i{
    color:grey;
    font-size: 48px;
    margin-bottom: 15px;
}
#contact .icons{
    justify-content: space-around;
}
footer{
    background-color: rgb(238, 227, 227);
    height: 20vh;
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}